{% include "Agency/header.html" %}
{% load static %}
<!--<section class="spacer green">
		<div class="container">
			<div class="row">
				<div class="span6 alignright flyLeft">
					<blockquote class="large">
						There's huge space beetween creativity and imagination <cite>Mark Simmons, Nett Media</cite>
					</blockquote>
				</div>
				<div class="span6 aligncenter flyRight">
					<i class="icon-coffee icon-10x"></i>
				</div>
			</div>
		</div>
	</section>-->
	<!-- end spacer section -->
	<!-- section: team -->
	<section id="about" class="section">
		<div class="container">

			<h2>Welcome   {{ request.session.uname }}</h2>

            <div class="agile-tables">
					<div class="w3l-table-info">



					  <h2>Product View</h2>
					    <table id="table" border="1">
						<thead>
						  <tr>

							<th>Name</th>
							<th>Description</th>
							<th>Category</th>
							  <th>Price</th>
							  <th>Handicrafter</th>
							  <th>phone</th>
							  <th>Photo</th>
							  <td></td>

						  </tr>
						</thead>
                            <tbody>
                            {%  for p in p %}

						  <tr>

							<td>{{ p.productname}}</td>
							  <td>{{ p.description}}</td>
							  <td>{{ p.cat_id.CategoryName}}</td>
							  <td>{{ p.price}}</td>
							  <td>{{ p.handicarft.HandicrafterName}}</td>
							  <td>{{ p.handicarft.phone}}</td>
							  <td><img src="../../productphoto/{{p.photo}}" width="70" height="70"></td>
                              <td ><a href="{% url 'approveproduct' id=p.ProductId %}">Approve</a></td>

                              </tr>
              {% endfor %}
                            </tbody>
                        </table>
        </div>
            </div>
        </div>
    </section>

					</div>
				</div>

         {% include "Agency/footer.html" %}